@font-face{
    font-family: Tangerine;
    src: url('./assets/fonts/Tangerine-Regular.ttf');
}
@import "tailwindcss";

@theme{
    --font-tangerine: Tangerine, "sans-serif";

    --breakpoint-ssm: 560px;
    --breakpoint-xs: 480px;
    --breakpoint-xss: 400px;
    --breakpoint-x: 220px;
}