@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html, body, #root {
    height: 100%;
  }

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --breakpoint-xx: 1275px;
    --breakpoint-xs: 300px;
    --breakpoint-ss: 360px;
    --breakpoint-s: 580px;
    --breakpoint-m: 495px;
    --breakpoint-mi: 460px;
    --breakpoint-si: 425px;
    --breakpoint-sy: 400px;
    --breakpoint-lp: 500px;
}

/* Scrollbar visible solo en navegadores basados en Webkit */
.custom-scroll::-webkit-scrollbar {
    width: 0px;
}